.notification-icon-container {
    position: relative;
    float: right;
}
  
.notification-dot {
    position: absolute;
    top: 5px;
    right: 0;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
}
.citbell{
  align-items: center;
  display: flex;
  
  padding: 0 3.3px;
  width: 30px;
}
.overlap-group{
  align-items: flex-start;
  display: flex;

  justify-content: flex-end;
  min-width: 23px;
  padding: 0.1px 0.6px;
}


.dropbtn {
  
  
  font-size: 16px;
  border: none;
  cursor: pointer;
}


.dropdown {
  position: relative;
  display: inline-block;
  
}

.dropdown-content {
  left: -134px;
  right: auto;
  display: none;
  position: absolute;
  background-color: #a5a4a4;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding : 10px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.show {display: block;}